body {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(1, 22, 39);
  color: rgb(162, 191, 252);
}

.App {
  height: 90vh;
}

.Profile {
  height: 100%;
}

.title {
  font-size: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 200px;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 200px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
}

.info {
  text-align: left;
}

.name {
  display: flex;
}

.activity-list {
  display: flex;
  flex-direction: column-reverse;
  height: 70%;
  overflow: auto;
}

.Activity {
  text-align: left;
  background-color: rgb(92, 123, 147);
  margin: 10px;
  border-radius: 5px;
}

.activity-info {
  display: flex;
  justify-content: space-between;
}

.tracker {
  display: flex;
  justify-content: space-around;
}





