body {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: #111111;
  color: #ffffff;
}

.App {
  height: 80vh;
}

.Profile {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  margin: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 200px;
}

.login-input {
  background-color: #111111;
  border: none;
  font-size: 20px;
  margin: 10px;
  color: grey;
}

hr {
  margin: 5px 0;
  border: 1px solid grey;
}

.login-button {
  padding: 10px;
  background-color: grey;
  border-radius: 12px;
  color: #111111;
  margin: 30px;
  font-size: 20px;
}

.register-link {
  color: grey;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 200px;
}

.register-button {
  padding: 10px;
  background-color: grey;
  border-radius: 12px;
  color: #111111;
  margin: 20px;
  font-size: 20px;
}

.registration-input {
  background-color: #111111;
  border: none;
  font-size: 20px;
  margin: 10px;
  color: grey;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.info {
  text-align: left;
  font-size: 30px;
}

.name {
  display: flex;
}

.activity-list {
  display: flex;
  flex-direction: column;
  height: 60%;
  overflow: auto;
}

.Activity {
  text-align: center;
  border-bottom: 1px solid rgb(92, 123, 147);
  border-top: 1px solid rgb(92, 123, 147);
  margin: 10px;
  padding: 5px;
}

.activity-date {
  text-align: left;
}

.delete-button {
  height: 20px;
  background-color: grey;;
  border-radius: 5px;
  color: #111111;
}

.edit-button {
  height: 20px;
  background-color: grey;
  border-radius: 5px;
  color: #111111;
  margin: 15px;
}

.activity-info {
  display: flex;
  justify-content: space-between;
}

.tracker {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.distance {
  margin: 20px;
}

.timer {
  margin: 20px;
}

.activity-span {
  font-size: 12px;
}

.new-activity-button {
  padding: 10px;
  background-color: grey;
  border-radius: 5px;
  color: #111111;
  font-size: 12px;
}

.logout {
  padding: 10px;
  background-color: grey;
  border-radius: 5px;
  color: #111111;
  margin: 15px;
  font-size: 12px;
}

span {
  font-size: 25px;
}

.ruck-weight {
  width: 40px;
  height: 35px;
  margin-left: 10px;
  background-color: #111111;
  font-size: 20px;
  color: grey;
}

.start-button {
  background-color: green;
  margin: 30px;
  height: 40px;
  width: 200px;
  border-radius: 12px;
}

.stop-button {
  background-color: red;
  margin: 30px;
  height: 40px;
  width: 200px;
  border-radius: 12px;
}

.profile-button {
  background-color: grey;
  height: 30px;
  width: 150px;
  border-radius: 12px;
  margin: 20px;
}







